*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: proxima-nova, sans-serif !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version,(Chrome and Opera) */
}

.textHeader {
    font-weight: 800 !important;
}

.textBody {
    font-weight: 400 !important;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

.clickable {
    cursor: pointer;
}

.row {
    padding: 5px 10px;
}

.col-xs {
    max-height: 500px;
}

.DashContainer:nth-of-type(1) {
    margin: 20px;
}

.DashContainer {
    margin: 150px 20px;
    height: 100%;

    background-color: rgba(250, 250, 250, 0.5) !important;
}

.DashBorder {
    /* background-color: rgba(255,255,255,0.5); */
    border-radius: 5px;
    border: 0.5px solid rgba(200, 200, 200, 0.5);
    outline: none;
}

.DashCard:nth-of-type(2) {
    margin-left: 10px;
}

.searchBar input {
    font-weight: 500;
    /* font-size: 22px; */
    color: rgb(75, 75, 75);
}

.searchBar input::placeholder {
    color: rgb(75, 75, 75);
}

.searchBar input:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
}

.searchIcon {
    color: black;
    position: relative;
    left: 30px;
}

.roundInput {
    border-radius: 10px;
    outline: none;
    color: #444;
}